@{
    ViewBag.Title = "Home Page";
}

<section id="about" class="about-section about-style-2 mb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="about-content-wrapper">
                    <div class="section-title mb-40">
                        <h3 class="mb-25">Bienvenido a CrazyTech</h3>
                        <p>En CrazyTech, especialistas en computadoras, laptops y Gamers. Las mejores marcas para juegos en computadora y alto rendimiento, somos especialistas en armar computadoras.</p>
                    </div>
                    <a href="#0" class="button button-lg radius-3">Conocé más</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6">
                <div class="about-image-wrapper">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="left-wrapper">
                                <div class="content-item">
                                    <h4>Innovando en el mercado</h4>
                                </div>
                                <div class="image-item">
                                    <img src="~/images/about-1.jpg" alt="">
                                </div>
                                <div class="image-item">
                                    <img src="~/images/about-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="right-wrapper">
                                <img src="~/images/about-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>