@model Ticket
@{
    ViewBag.Title = "Enviar solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Title</h1>
<section id="contact" class="contact-section contact-style-1 mb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-form-wrapper">
                    <!--<i class="lni lni-text-format"></i> <i class="lni lni-user"></i> <i class="lni lni-envelope"></i> <i class="lni lni-phone"></i> <i class="lni lni-comments-alt"></i>-->
                    @using (Html.BeginForm("Solicitud", "Tiquetes", FormMethod.Post, new { @class = "login-form" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single-input">
                                    <label for="presupuesto">Presupuesto</label>
                                    @Html.TextBoxFor(Model => Model.Presupuesto, new { @class = "login-form", placeholder = "Presupuesto", required = "" })
                                    <i class="lni lni-coin"></i>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-input">
                                    <label for="detalles">Detalles</label>
                                    <!--<textarea name="detalles" id="detalles" class="form-input" placeholder="Descripción del productos" rows="6"></textarea>-->
                                    @Html.TextBoxFor(Model => Model.Detalles, new { @class = "login-form", placeholder = "Detalles", required = "" })
                                    <i class="lni lni-comments-alt"></i>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-button">
                                    <button type="submit" class="button radius-10">Hacer solicitud<i class="lni lni-telegram-original"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="contact-image">
        <img src="~/images/form/illustation.svg" alt="">
    </div>
</section>
