@model IEnumerable<CategoriaProducto>
@{
    ViewBag.Title = "Categorías de productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Categorías de productos</h1>
@using (Html.BeginForm("Productos", "Productos", FormMethod.Post))
{
    
    <section class="gallery-section gallery-style-4 mb-80">
        <div class="container">
            <div class="row">
                <!--Inicio de la categoría de producto-->
                @foreach (var item in Model)
                {
                <div class="col-lg-4 col-md-12">

                    <div class="single-gallery">
                        <div class="image">
                            <img src="~/images/crazytech/logo-completo.png" />
                            <div class="overlay">
                                <div class="action">
                                    <!--<a href="#0"> <i class="lni lni-link"></i> </a> Corregir Ale-->
                                    <!--@Html.ActionLink("Producto", "Productos", "Productos")-->
                                    <button type="submit" name="procesarFormulario" value="@item.Nombre" class="btn btn-light">@item.Nombre</button>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <h5>@item.Nombre</h5>
                        </div>
                    </div>
                </div>
                 }
                <!--Fin de la categoría de producto-->
            </div>
        </div>
    </section>
}