@model Proyecto.Entidades.UsuarioObj
@{
    ViewBag.Title = "Mantenimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Placeholder</h1>
<div class="w3ls-login box box--big">
    <form action="#" method="post">
    </form>
</div>
