@model Proyecto.Entidades.UsuarioObj
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Perfil</h1>
Información del perfil
<br />
Nombre completo*<br />
Correo*<br />
@Html.ActionLink("Actualizar usuario", "ActualizarUsuario", "Usuario")

